.quote-container {
  color: blueviolet;
  font-size: 3em;
  font-style: italic;
  background-color: rgb(148, 220, 224);
  padding: 10px;
  margin: 100px;
  border: 2px;
}
.author {
  color: blueviolet;
  font-size: 3em;
  font-style: bold;
  background-color: rgb(148, 220, 224);
  padding: 10px;
  margin: 100px;
  border: 2px;
}
.total {
  background-color: rgb(148, 220, 224);
  border: 2px;
  border-radius: 5px;
  border-style: double;
}
